<header xmlns:sec="http://www.w3.org/1999/xhtml">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3b3b3b;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Маркет</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/articles}">Статьи</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="socialMediaDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Соц. сети
          </a>
          <div class="dropdown-menu" aria-labelledby="socialMediaDropdown">
            <a class="dropdown-item" href="https://t.me/+oDFHRDONF-1kODhi">Telegram</a>
            <a class="dropdown-item" href="https://vk.com/spring_void">VK</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/other}">Другое</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('Администратор')">
          <a class="nav-link" th:href="@{/users}">Админка</a>
        </li>
        <li class="nav-item nav-search">
          <form th:action="@{/search}" class="form-inline my-2 my-lg-0 mx-auto" method="get">
            <input class="form-control mr-sm-2" type="search" name="param" th:value="${param}" placeholder="Поиск"
                   aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Поиск</button>
          </form>
        </li>
      </ul>

    </div>
    <div class="nav-profile">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="userDropdown">
          <a class="dropdown-item" th:href="@{/settings}">Редактировать профиль</a>
          <a class="dropdown-item" th:href="@{/logout}">Выход</a>
        </div>
      </div>
    </div>
  </nav>
</header>