#users_list {
    text-align: right;
    position: absolute;
    right: 200px;
}
#users_list_href {
    text-align: right;
    position: absolute;
    top: auto;
    right: auto;
}
#form_reg {
    position: absolute;
    text-align: center;
    top: 500px;
    left: 300px;
}